In [211]:
import pandas as pd
import numpy as np
import math

start = pd.Series(pd.date_range(start ='9/8/2020', end ='9/8/2022', freq='28D'))
end = pd.Series(pd.date_range(start ='10/5/2020', end ='10/5/2022', freq='28D'))
df = pd.DataFrame(dict(start_day = start,end_day = end ))

newdf = pd.DataFrame(np.repeat(df.values,2,axis=0))
newdf.columns = df.columns
Institute = ['Brussels','UCL', 'Wisconsin', 'VUB', 'UNL', 'Delaware', 'Maryland',
             'OSU', 'KU', 'Penn State', 'Chiba', 'NTU', 'Chicago',]

Station_num = [ 'ARA03-04', 'ARA01-02']
df1 = pd.DataFrame(Station_num) 
df2 = pd.DataFrame(Institute) 

newdf1 = pd.concat([df1]*int(len(newdf)/len(df1)), ignore_index=True) 
newdf2 = pd.concat([df2]*math.ceil(len(newdf)/len(df2)), ignore_index=True) 
newdf['station_number'] = newdf1 
newdf['institute'] = newdf2 
newdf

    start_day    end_day station_number   institute
0  2020-09-08 2020-10-05       ARA03-04    Brussels
1  2020-09-08 2020-10-05       ARA01-02         UCL
2  2020-10-06 2020-11-02       ARA03-04   Wisconsin
3  2020-10-06 2020-11-02       ARA01-02         VUB
4  2020-11-03 2020-11-30       ARA03-04         UNL
5  2020-11-03 2020-11-30       ARA01-02    Delaware
6  2020-12-01 2020-12-28       ARA03-04    Maryland
7  2020-12-01 2020-12-28       ARA01-02         OSU
8  2020-12-29 2021-01-25       ARA03-04          KU
9  2020-12-29 2021-01-25       ARA01-02  Penn State
10 2021-01-26 2021-02-22       ARA03-04       Chiba
11 2021-01-26 2021-02-22       ARA01-02         NTU
12 2021-02-23 2021-03-22       ARA03-04     Chicago
13 2021-02-23 2021-03-22       ARA01-02    Brussels
14 2021-03-23 2021-04-19       ARA03-04         UCL
15 2021-03-23 2021-04-19       ARA01-02   Wisconsin
16 2021-04-20 2021-05-17       ARA03-04         VUB
17 2021-04-20 2021-05-17       ARA01-02         UNL
18 2021-05-18 2021-06-14       ARA03-04    Delaware
19 2021-05-18 2021-06-14       ARA01-02    Maryland
20 2021-06-15 2021-07-12       ARA03-04         OSU
21 2021-06-15 2021-07-12       ARA01-02          KU
22 2021-07-13 2021-08-09       ARA03-04  Penn State
23 2021-07-13 2021-08-09       ARA01-02       Chiba
24 2021-08-10 2021-09-06       ARA03-04         NTU
25 2021-08-10 2021-09-06       ARA01-02     Chicago
26 2021-09-07 2021-10-04       ARA03-04    Brussels
27 2021-09-07 2021-10-04       ARA01-02         UCL
28 2021-10-05 2021-11-01       ARA03-04   Wisconsin
29 2021-10-05 2021-11-01       ARA01-02         VUB
30 2021-11-02 2021-11-29       ARA03-04         UNL
31 2021-11-02 2021-11-29       ARA01-02    Delaware
32 2021-11-30 2021-12-27       ARA03-04    Maryland
33 2021-11-30 2021-12-27       ARA01-02         OSU
34 2021-12-28 2022-01-24       ARA03-04          KU
35 2021-12-28 2022-01-24       ARA01-02  Penn State
36 2022-01-25 2022-02-21       ARA03-04       Chiba
37 2022-01-25 2022-02-21       ARA01-02         NTU
38 2022-02-22 2022-03-21       ARA03-04     Chicago
39 2022-02-22 2022-03-21       ARA01-02    Brussels
40 2022-03-22 2022-04-18       ARA03-04         UCL
41 2022-03-22 2022-04-18       ARA01-02   Wisconsin
42 2022-04-19 2022-05-16       ARA03-04         VUB
43 2022-04-19 2022-05-16       ARA01-02         UNL
44 2022-05-17 2022-06-13       ARA03-04    Delaware
45 2022-05-17 2022-06-13       ARA01-02    Maryland
46 2022-06-14 2022-07-11       ARA03-04         OSU
47 2022-06-14 2022-07-11       ARA01-02          KU
48 2022-07-12 2022-08-08       ARA03-04  Penn State
49 2022-07-12 2022-08-08       ARA01-02       Chiba
50 2022-08-09 2022-09-05       ARA03-04         NTU
51 2022-08-09 2022-09-05       ARA01-02     Chicago
52 2022-09-06 2022-10-03       ARA03-04    Brussels
53 2022-09-06 2022-10-03       ARA01-02         UCL

In [212]:
iter = 0
for ind in newdf.index:
    if (newdf['institute'][ind] == 'Chicago'):
        iter += 1
        if (iter%3 == 1):
            newdf['institute'][ind] = 'KU'
        if (iter%3 == 2):
            newdf['institute'][ind] = 'OSU'
        if (iter%3 == 0):
            newdf['institute'][ind] = 'UW'

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [213]:
def mapper(month):
   return month.strftime("%d %b, %Y") 

newdf['start_day'] = newdf['start_day'].apply(mapper)
newdf['end_day'] = newdf['end_day'].apply(mapper)

In [214]:
print(newdf)

       start_day       end_day station_number   institute
0   08 Sep, 2020  05 Oct, 2020       ARA03-04    Brussels
1   08 Sep, 2020  05 Oct, 2020       ARA01-02         UCL
2   06 Oct, 2020  02 Nov, 2020       ARA03-04   Wisconsin
3   06 Oct, 2020  02 Nov, 2020       ARA01-02         VUB
4   03 Nov, 2020  30 Nov, 2020       ARA03-04         UNL
5   03 Nov, 2020  30 Nov, 2020       ARA01-02    Delaware
6   01 Dec, 2020  28 Dec, 2020       ARA03-04    Maryland
7   01 Dec, 2020  28 Dec, 2020       ARA01-02         OSU
8   29 Dec, 2020  25 Jan, 2021       ARA03-04          KU
9   29 Dec, 2020  25 Jan, 2021       ARA01-02  Penn State
10  26 Jan, 2021  22 Feb, 2021       ARA03-04       Chiba
11  26 Jan, 2021  22 Feb, 2021       ARA01-02         NTU
12  23 Feb, 2021  22 Mar, 2021       ARA03-04          KU
13  23 Feb, 2021  22 Mar, 2021       ARA01-02    Brussels
14  23 Mar, 2021  19 Apr, 2021       ARA03-04         UCL
15  23 Mar, 2021  19 Apr, 2021       ARA01-02   Wisconsin
16  20 Apr, 2021  17 May, 2021       ARA03-04         VUB
17  20 Apr, 2021  17 May, 2021       ARA01-02         UNL
18  18 May, 2021  14 Jun, 2021       ARA03-04    Delaware
19  18 May, 2021  14 Jun, 2021       ARA01-02    Maryland
20  15 Jun, 2021  12 Jul, 2021       ARA03-04         OSU
21  15 Jun, 2021  12 Jul, 2021       ARA01-02          KU
22  13 Jul, 2021  09 Aug, 2021       ARA03-04  Penn State
23  13 Jul, 2021  09 Aug, 2021       ARA01-02       Chiba
24  10 Aug, 2021  06 Sep, 2021       ARA03-04         NTU
25  10 Aug, 2021  06 Sep, 2021       ARA01-02         OSU
26  07 Sep, 2021  04 Oct, 2021       ARA03-04    Brussels
27  07 Sep, 2021  04 Oct, 2021       ARA01-02         UCL
28  05 Oct, 2021  01 Nov, 2021       ARA03-04   Wisconsin
29  05 Oct, 2021  01 Nov, 2021       ARA01-02         VUB
30  02 Nov, 2021  29 Nov, 2021       ARA03-04         UNL
31  02 Nov, 2021  29 Nov, 2021       ARA01-02    Delaware
32  30 Nov, 2021  27 Dec, 2021       ARA03-04    Maryland
33  30 Nov, 2021  27 Dec, 2021       ARA01-02         OSU
34  28 Dec, 2021  24 Jan, 2022       ARA03-04          KU
35  28 Dec, 2021  24 Jan, 2022       ARA01-02  Penn State
36  25 Jan, 2022  21 Feb, 2022       ARA03-04       Chiba
37  25 Jan, 2022  21 Feb, 2022       ARA01-02         NTU
38  22 Feb, 2022  21 Mar, 2022       ARA03-04          UW
39  22 Feb, 2022  21 Mar, 2022       ARA01-02    Brussels
40  22 Mar, 2022  18 Apr, 2022       ARA03-04         UCL
41  22 Mar, 2022  18 Apr, 2022       ARA01-02   Wisconsin
42  19 Apr, 2022  16 May, 2022       ARA03-04         VUB
43  19 Apr, 2022  16 May, 2022       ARA01-02         UNL
44  17 May, 2022  13 Jun, 2022       ARA03-04    Delaware
45  17 May, 2022  13 Jun, 2022       ARA01-02    Maryland
46  14 Jun, 2022  11 Jul, 2022       ARA03-04         OSU
47  14 Jun, 2022  11 Jul, 2022       ARA01-02          KU
48  12 Jul, 2022  08 Aug, 2022       ARA03-04  Penn State
49  12 Jul, 2022  08 Aug, 2022       ARA01-02       Chiba
50  09 Aug, 2022  05 Sep, 2022       ARA03-04         NTU
51  09 Aug, 2022  05 Sep, 2022       ARA01-02          KU
52  06 Sep, 2022  03 Oct, 2022       ARA03-04    Brussels
53  06 Sep, 2022  03 Oct, 2022       ARA01-02         UCL

In [215]:
newdf.to_csv('new_monitoring_schedule.csv',sep='\t',index=False)